{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="mb-4">Добро пожаловать в сервис рассылок</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Всего рассылок</h5>
                        <p class="card-text display-4">{{ total_mailings }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Активные рассылки</h5>
                        <p class="card-text display-4">{{ active_mailings }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Уникальные клиенты</h5>
                        <p class="card-text display-4">{{ unique_clients }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}